@mixin buttons($main-color, $secondary-color, $tertiary-color, $font-color) {
    input[type="button"], .button {
        @include linear-gradient($main-color);
        border-radius:3px;
        color:#fff;
        padding:15px 22px;
        font-size:14px;
        text-transform:uppercase;
        border:none;
        font-weight:300;
        letter-spacing:0.1em;
        cursor:pointer;
        box-shadow: rgba(23, 43, 99, 0.24) 0 7px 28px;
        display:inline-block;
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-tap-highlight-color: transparent;
        &:focus {
            outline:0;
        }
        &:active {
            -moz-transform: scale3d(0.94, 0.94, 0.94);
            -ms-transform: scale3d(0.94, 0.94, 0.94);
            -webkit-transform: scale3d(0.94, 0.94, 0.94);
            transform: scale3d(0.94, 0.94, 0.94);
            -moz-box-shadow: rgba(23, 43, 99, 0.24) 0 3px 18px;
            -webkit-box-shadow: rgba(23, 43, 99, 0.24) 0 3px 18px;
            box-shadow: rgba(23, 43, 99, 0.24) 0 3px 18px;
        }
        &.ghost {
            background:transparent;
            border:1px solid $main-color;
            color:$main-color;
            box-shadow:none;
        }
        &.large {
            padding:23px 30px;
        }
    }

    a.button {
        text-decoration:none;
    }
}
