.column {
    margin:0 auto;
}

.row {
    @include clearfix();
}

.1024-width {
    max-width:1024px;
}
.800-width {
    max-width:800px;
}
.640-width {
    max-width:640px;
}

.padding {
    padding:16px;
}

.left {
    float:left !important;
}

.right {
    float:right !important;
}

.cell {
    float:left;
    box-sizing: border-box;
}

.half {
    width:50%;
}

.third {
    width:33.33333333%;
}

.forth {
    width:25%;
}

.fifth {
    width:20%;
}

.two-fifths {
    width:40%;
}

.three-fifths {
    width:60%;
}

.sixth {
    width:16.66666%;
}

